* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* common style */
img {
    width: 100%;
}

.dash {
    width: 30px;
    height: 3px;
    background-color: blue;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2px;
}

.section-title {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

.text-large {
    font-size: 22px;
    font-weight: 500;
}

.text-small {
    font-size: 13px;
}

body a:hover {
    text-decoration: none;
}

.p-15 {
    padding: 0 15px;
}

ul {
    list-style-type: none;
}

/* header */
.header-container a {
    text-transform: uppercase;
    font-size: 14px;
}

.header-container a:hover { 
    color: orange;
}

li.menu-item {
    font-size: 13px;
}

li.menu-item.active a {
    color: orange;
    text-transform: capitalize;
}

.header-container a.brand-name {
    font-weight: 600;
}

/* banner */
.banner {
    position: relative;
}

.banner .banner-text span {
    color: orange;
    font-weight: 700;
}

/* about us */
.about-us-container {
    margin: 30px 0 60px;
}

.about-us-container .text-large {
    margin: 15px 0;
}

/* our business */
.our-business > div {
    height: 500px;
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-business-left {
    background-image: url('./image/our-business-1.jpg');
}

.our-business-right {
    background-image: url('./image/our-business-2.jpg');
    background-position: center;
    position: relative;
    color: #fff;
}

.our-business-right .dash {
    background-color: #fff;
}

.our-business-right .text-large {
    margin-top: 15px;
    margin-bottom: 8px;
}

.small-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

/* news */
.news {
margin: 20px 0 60px;
}

.new {
    border: 1px solid #ccc;
}

.new .text-large {
    margin: 10px 0;
}

.new .text-small {
    margin-bottom: 10px;
}

/* contacts */
.contacts input,
.contacts textarea {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.send-message {
    margin: 20px;
    padding: 7px 15px;
    color: #fff;
    background-color: orange;
    border-radius: 4px;
    border: none;
}

.contacts img {
    height: 250px;
}

.footer-container {
    background-color: #000;
    color: #fff;
    margin: 0 -15px;
}

.footer-container a {
    color: #fff;
}

.footer-info {
    padding: 30px 0;
}

.copy-right {
    padding: 15px 0;
    border-top: 1px solid #fff;
}

.footer-container form {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    border-radius: 4px;
}

.footer-container .email-button {
    background-color: #fff;
    padding: 0 5px;
    /* width: 70px; */
}

.footer-container input {
    background: none;
    border: none;
    /* width: calc(100% - 70px); */
    width: 0;
    flex-grow: 1;
}

/* mobile */
@media screen and (min-width: 320px) {
    .header-container .navbar {
        padding: 10px 0;
    }

    .navbar-nav {
        border: 1px solid #ccc;
        margin-top: 10px;
    }

    .header-container .navbar-light .navbar-toggler {
        border: none;
        font-size: 18px;
    }

    .header-container .navbar-light .navbar-toggler:focus {
        outline: none;
    }

    .header-container a.brand-name {
        font-size: 18px;
    }

    li.menu-item {
        padding: 7px 16px;
        line-height: normal;
    }

    .header-container a { 
        color: #000;
    }

    .header-container a.brand-name { 
        color: blue;
    }

    .banner img {
        height: 200px;
    }

    .banner .banner-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30%;
        font-size: 30px;
        color: #fff;
        text-align: center;
    }

    .our-business {
        padding: 0 15px;
    }

    .our-business .our-business-left {
        height: 200px;
    }

    .our-business .our-business-right {
        padding: 40px 50px 0 125px;
    }

    .small-image {
        left: 15px;
    }

    .small-image-1 {
        top: 160px;
    }
    
    .small-image-2 {
        top: 300px;
    }

    .new {
        margin-bottom: 15px;
    }

    .new img {
        height: 200px;
    }
}

/* tablet */
@media screen and (min-width: 768px) {
    .header-container { 
        background-color: blue;
        height: 70px;
    }

    .header-container .navbar {
        padding: 0;
    }

    .navbar-nav {
        border: none;
        margin-top: 0;
    }

    .header-container .navbar a, .header-container i { 
        color: #fff;
    }

    li.menu-item {
        padding: 24px 7px;
        line-height: inherit;
    }

    li.menu-item.active {
        border-bottom: 1px solid orange;
    }

    .banner img {
        height: 600px;
    }

    .banner .banner-text {
        font-size: 70px;
    }

    .our-business .our-business-left {
        height: 500px;
    }

    .our-business .our-business-right {
        height: 300px;
        padding-left: 90px;
    }

    .our-business-title {
        margin-left: -30px;
    }

    .small-image-1 {
        top: 85px;
    }
    
    .small-image-2 {
        top: 160px;
    }

    .new {
        margin-bottom: 0;
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    li.menu-item {
        padding: 24px 10px;
        font-size: 14px;
    }

    .header-container a.brand-name {
        font-size: 22px;
    }

    .our-business {
        padding: 0;
    }

    .our-business .our-business-right {
        height: 500px;
        padding-left: 40px;
    }

    .small-image {
        left: -25px;
    }

    .our-business-title {
        margin-left: 0;
    }

    .new img {
        height: 150px;
    }

    .send-message {
        transform: translateX(calc(50% + 15px));
    }
}